table {
  width: 100%;

  img {
    width: 100px;
    height: 60px;
    object-fit: cover;
  }

  .mat-column-index {
    width: 60px;
  }

  .mat-column-imageUrl {
    width: 120px;
  }

  .mat-column-name {
    width: auto;
  }

  .mat-column-actions {
    width: 200px;
  }

  .actions {
    display: flex;
    gap: 1rem;
  }
}
