.filter {
  width: 20%;
  outline: 1px dashed red;
  padding: 1rem;
}

.content {
  width: 80%;
  outline: 1px dashed green;
  padding: 1rem;
}

.flex {
  display: flex;
}

.switch-view {
  text-align: right;
  button {
    color: rgba(255, 255, 255, 0.5);
    &.active{
      color: #fff;
    }
  }
}
