<div class="cards-list">
  <div class="card">
    <div class="left-card">
      <img src="/assets/images/electronics.jpeg" alt="" />
    </div>
    <div class="center-card">
      <h5>Notebook</h5>
      <p>Отличные ноутбуки с лучшими характеристиками в городе</p>
      <span></span>
    </div>
    <div class="right-card">
      <h6>1200$</h6>
      <div class="btn_card">
        <button mat-flat-button><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="left-card">
      <img src="/assets/images/electronics.jpeg" alt="" />
    </div>
    <div class="center-card">
      <h5>Notebook</h5>
      <p>Отличные ноутбуки с лучшими характеристиками в городе</p>
      <span></span>
    </div>
    <div class="right-card">
      <h6>1200$</h6>
      <div class="btn_card">
        <button mat-flat-button><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="left-card">
      <img src="/assets/images/electronics.jpeg" alt="" />
    </div>
    <div class="center-card">
      <h5>Notebook</h5>
      <p>Отличные ноутбуки с лучшими характеристиками в городе</p>
      <span></span>
    </div>
    <div class="right-card">
      <h6>1200$</h6>
      <div class="btn_card">
        <button mat-flat-button><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="left-card">
      <img src="/assets/images/electronics.jpeg" alt="" />
    </div>
    <div class="center-card">
      <h5>Notebook</h5>
      <p>Отличные ноутбуки с лучшими характеристиками в городе</p>
      <span></span>
    </div>
    <div class="right-card">
      <h6>1200$</h6>
      <div class="btn_card">
        <button mat-flat-button><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
      </div>
    </div>
  </div>
</div>
