<form class="form_sign-up" action="">
  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput type="tel" placeholder="Your phone" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>First name</mat-label>
    <input matInput placeholder="Your name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput placeholder="User name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Your pass" />
  </mat-form-field>
</form>

<button mat-flat-button color="primary" routerLink="/">Sign up</button>
