<div class="cards-grid">
  <div class="card">
    <img src="/assets/images/electronics.jpeg" alt="" />
    <h5>Notebook</h5>
    <p>Отличные ноутбуки с лучшими характеристиками в городе</p>
    <h6>1200$</h6>
    <span></span>
    <button mat-flat-button><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
  </div>
  <div class="card">
    <img src="/assets/images/electronics.jpeg" alt="" />
    <h5>Notebook</h5>
    <p>Отличные ноутбуки с лучшими характеристиками в городе</p>
    <h6>1200$</h6>
    <span></span>
    <button mat-flat-button><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
  </div>
  <div class="card">
    <img src="/assets/images/electronics.jpeg" alt="" />
    <h5>Notebook</h5>
    <p>Отличные ноутбуки с лучшими характеристиками в городе</p>
    <h6>1200$</h6>
    <span></span>
    <button mat-flat-button><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
  </div>
  <div class="card">
    <img src="/assets/images/electronics.jpeg" alt="" />
    <h5>Notebook</h5>
    <p>Отличные ноутбуки с лучшими характеристиками в городе</p>
    <h6>1200$</h6>
    <span></span>
    <button mat-flat-button><mat-icon>add_shopping_cart</mat-icon> Add to cart</button>
  </div>
</div>
