<mat-toolbar color="primary">
  <button mat-icon-button class="menu-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="top_nav">
    <span>Genesis</span>
    <span><a routerLink="/categories" routerLinkActive="active">Categories</a></span>
    <span><a routerLink="/products" routerLinkActive="active">All Products</a></span>
  </div>
  <span class="flex-spacer"></span>
  <button mat-button class="profile-icon" (click)="clearLocalStorage()">
    <mat-icon>storage</mat-icon> Restart local storage
  </button>
  <button mat-icon-button class="profile-icon" aria-label="profile icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-progress-bar *ngIf="loading.navigation$ | async" mode="query"></mat-progress-bar>

<main>
  <app-side-nav class="nav"> </app-side-nav>
  <div class="page-container">
    <router-outlet> </router-outlet>
  </div>
</main>
