<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="top_nav">
    <span>Genesis</span>
    <span><a routerLink="/products">Products</a></span>
    <span><a routerLink="/categories">Categories</a></span>
  </div>

  <span class="flex-spacer"></span>

  <app-search> </app-search>

  <span class="flex-spacer"></span>

  <button mat-icon-button aria-label="basket" routerLink="/basket">
    <mat-icon>shopping_cart</mat-icon>
  </button>

  <button mat-icon-button aria-label="Login" [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><mat-icon>login</mat-icon> Sign in</button>
    <button mat-menu-item><mat-icon>logout</mat-icon> Sign up</button>
  </mat-menu>
</mat-toolbar>

<mat-progress-bar *ngIf="isLoading$ | async" mode="query" color="accent"></mat-progress-bar>

<main>
  <app-side-nav class="nav"></app-side-nav>
  <div class="page_content">
    <router-outlet> </router-outlet>
  </div>
</main>
