@use 'assets/_grid';
@use 'assets/_placehoders';

/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #333;
  background-color: #222;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.empty-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 60vh;

  &__header {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}

.header-actions {
  margin-bottom: 1rem;

  &--right {
    text-align: right;
  }
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-flat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
  margin: 0 8px;
}

.mat-card-actions:not(.mat-card-actions-align-end) .mat-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-flat-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-raised-button:first-child,
.mat-card-actions:not(.mat-card-actions-align-end) .mat-stroked-button:first-child {
  margin-left: 0;
  margin-right: 0;
}

.products,
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 20px;

  &__card {
    overflow: hidden;
  }

  &__image {
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
    // margin-bottom: 1rem;

    img {
      max-height: 280px;
      object-fit: cover;
    }
  }
}

genesis-full-search {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex,
  .mat-form-field-appearance-outline .mat-form-field-infix {
    width: 100%;
    padding: 0.2rem 0.6rem;
  }

  .mat-form-field-wrapper {
    background-color: #222;
    padding: 0;
  }
}
