<div class="basket__header">
  <h1>Basket</h1>
  <h5>3 item</h5>
</div>

<div class="basket__controls">
  <mat-checkbox>Select all</mat-checkbox>
  <button mat-button color="warn"><mat-icon>clear</mat-icon>Remove</button>
</div>
<div class="basket-page">
  <div class="order-list">
    <div class="order">
      <div class="order__checkbox"><mat-checkbox></mat-checkbox></div>
      <div><img src="/assets/images/electronics.jpeg" alt="" /></div>
      <div>
        <h3>Shuni olsang adashmaysan</h3>
        <h5>Malika bozor</h5>
        <div>
          <button mat-button><mat-icon>favorite_border</mat-icon>Favorite</button>
          <button mat-button color="warn"><mat-icon>clear</mat-icon>Remove</button>
        </div>
      </div>
      <div>
        <h5>1200$</h5>
        <div>1</div>
      </div>
    </div>

    <div class="order">
      <div class="order__checkbox"><mat-checkbox></mat-checkbox></div>
      <div><img src="/assets/images/electronics.jpeg" alt="" /></div>
      <div>
        <h3>Shuni olsang adashmaysan</h3>
        <h5>Malika bozor</h5>
        <div>
          <button mat-button><mat-icon>favorite_border</mat-icon>Favorite</button>
          <button mat-button color="warn"><mat-icon>clear</mat-icon>Remove</button>
        </div>
      </div>
      <div>
        <h5>1200$</h5>
        <div>1</div>
      </div>
    </div>

    <div class="order">
      <div class="order__checkbox"><mat-checkbox></mat-checkbox></div>
      <div><img src="/assets/images/electronics.jpeg" alt="" /></div>
      <div>
        <h3>Shuni olsang adashmaysan</h3>
        <h5>Malika bozor</h5>
        <div>
          <button mat-button><mat-icon>favorite_border</mat-icon>Favorite</button>
          <button mat-button color="warn"><mat-icon>clear</mat-icon>Remove</button>
        </div>
      </div>
      <div>
        <h5>1200$</h5>
        <div>1</div>
      </div>
    </div>

    <div class="order">
      <div class="order__checkbox"><mat-checkbox></mat-checkbox></div>
      <div><img src="/assets/images/electronics.jpeg" alt="" /></div>
      <div>
        <h3>Shuni olsang adashmaysan</h3>
        <h5>Malika bozor</h5>
        <div>
          <button mat-button><mat-icon>favorite_border</mat-icon>Favorite</button>
          <button mat-button color="warn"><mat-icon>clear</mat-icon>Remove</button>
        </div>
      </div>
      <div>
        <h5>1200$</h5>
        <div>1</div>
      </div>
    </div>
  </div>
  <div class="total">
    <div class="total__button"><button mat-raised-button color="primary">Go to ordering</button></div>
    <div class="total__price"><span>Total</span><span>10000$</span></div>
  </div>
</div>
